 /*Fondos*/ 
 .fondoNegro{
    background-color:black;
}
.fondoHielo {
    background-color: aliceblue;
}
.fondoCeleste{
    background-color:skyblue;
}
.fondoGris{
    background-color: rgb(201, 200, 200);
}

/*Color para Textos*/
.celeste {
    color:skyblue;
    font-size: 36px;
}

.verde {
    color:rgb(9, 179, 150);
}

h2 {
    color:rgb(61, 61, 61);
}

.centrarTitulo {
    text-align: center; 
}

/*Tamaño para Textos*/
.sizeFooter{
    font-size: 14px;
}
.sizeSubtitulo{
    font-size: 28px;  
}
.subrayado{
 text-decoration:underline;
}
